// Variables
$primary:                   #3b73af;
$mainBG:                    #E3E5E7;
$color:                     #777777;
$headerBG:                  #272E3A;

// Third Party Brands
$facebook:                  #3b5998;
$twitter:                   #00aced;
$gplus:                     #dd4b39;
$linkedin:                  #007bb6;
$dribbble:                  #ea4c89;

// Fonts

@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300|Quattrocento);

// Main
body {
  background: $mainBG;
  color: $color;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

header {
  display: flex;
  background: white;
  padding: 40px 0;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: $primary;
  font-weight: 300;

  h1 {
    font-size: 30px;
    font-weight: 300;
  }

  h5 {
    font-size: 18px;
    font-weight: 300;

    strong {
      font-weight: 400;
    }
  }
}

section {
  padding: 60px 0;

  .box {
    background: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.125);
  }

  .key {
    color: $color;
    display: inline-block;
    background: white;
    border-radius: 4px;
    box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 1px 2px #999, inset 1px 0 0 #ccc, inset -1px 0 0 #ccc;
    box-sizing: border-box;
    border-top: 1px solid #efefef;
    min-width: 44px;
    height: 42px;
    line-height: 42px;
    padding: 0 8px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.9em;
    margin: 0 1px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  .add {
    margin: 0 5px;
  }

  table {
    tr {
      td {
        padding: 10px;
        cursor: default;
      }

      &:hover {
        color: #555;
        transition: all 200ms ease-in-out;
      }
    }
  }
}
